# Dependencies
node_modules
public

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
